@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: #1d2026;
    --secondary-color: ;
    --font-primary: 'Roboto', sans-serif;
    --transition: all 0.3s linear;
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    --spacing: 0.1rem;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
    text-decoration: none;
    list-style: none;
}


.header {
    background: var(--primary-color);
    height: 100vh;
    width: 100%;
    color: white;
    position: relative;
    overflow: hidden;
}


.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.nav-toggle {
    color: white;
    transition: var(--transition);
    cursor: pointer;
}

.nav-toggle:hover {
    color: white;
    transform: rotate(90deg);
}

.links a {
    color: white;
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--transition);
}

.links a:hover {
    background: var((--clr-primary-8));
    color: var(--clr-primary-5);
    padding-left: 1.5rem;
}
.links {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}
.show-links {
    height: 10rem;
}
@media screen and (min-width: 800px) {
    .nav-center {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    .nav-header {
        padding: 0;
    }
    .nav-toggle {
        display: none;
    }
    .links {
        height: auto;
        display: flex;
    }
    .links a {
        padding: 0;
        margin:  0 1.5rem;
    }
    .links a:hover {
        padding: 0;
        background: transparent;
    }
}

nav .menu_image {
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}

nav .logo_image {
    width: 160px;
    cursor: pointer;
}


.toggle-btn {
    background: #efefef;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.5s;
    margin-left: 3.5rem;
}

.toggle-btn span {
    display: block;
    background-color: #999;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 2px;
    transition: background 0.5s, margin-left 0.5s;
}


.lamp_container {
    position: absolute;
    top: -20px;
    left: 22%;
    width: 200px;
}

.lamp {
    width: 100%;
}

.light {
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;  
    margin-left: -10px;
    opacity: 0;
    transition: opacity 0.5s;
}

.text_container {
    max-width: 600px;
    margin-top: 7%;
    margin-left: 50%;
    user-select: none;
}

.text_container h1 {
    font-size: 80px;
    font-weight: 400;
}

.text_container a {
    text-decoration: none;
    background: #00986f;
    padding: 14px 40px;
    display: inline-block;
    color: white;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 30px;
    cursor: pointer;
}
.text_container a:hover {
    background-color: rgba(0, 152, 111, 0.5);
}

.control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 150px;
}

.control .line {
    width: 250px;
    height: 4px;
    background: white;
    margin: 0 20px;
    border-radius: 2px;
}

.control .line span {
    width: 50%;
    height: 6px;
    margin-top: -1.5px;
    border-radius: 4px;
    background: #00986f;
    display: block;
}
.active {
    background-color: green;
}
.active span {
    background-color: #fff;
    margin-left: 31px;
}
.on {
    opacity: 1;
}

/* media queries */

@media screen and (max-width: 800px) {
    .lamp_container {
        position: absolute;
        top: -80px;
        left: 40%;
        width: 200px;
    }
    
    .lamp {
        width: 75%;
    }
    .light {
        position: absolute;
        top: 97%;
        left: 50%;
        transform: translateX(-50%);
        width: 612px;  
        margin-left: -34px;
        opacity: 0;
        transition: opacity 0.5s;
    }
    .on {
        opacity: 1;
    }

    .text_container a:hover {
        background-color: rgba(0, 152, 111, 0.5);
    }

    .text_container {
        max-width: 400px;
        margin-top: 23%;
        margin-left: 26%;
        user-select: none;
    }
    

    .text_container h1 {
        font-size: 50px;
    }
    
    .control {
        margin: 120px auto;
    }
    .toggle-btn {
        background: #efefef;
        height: 30px;
        width: 60px;
        border-radius: 20px;
        border: 0;
        outline: 0;
        cursor: pointer;
        transition: background 0.5s;
    }
    
    .toggle-btn span {
        display: block;
        background-color: #999;
        height: 26px;
        width: 26px;
        border-radius: 50%;
        margin-left: 2px;
        transition: background 0.5s, margin-left 0.5s;
    }
    .active {
        background-color: green;
    }
    .active span {
        background-color: #fff;
        margin-left: 31px;
    }
}


@media screen and (max-width: 600px) {
    .toggle-btn {
        background: #efefef;
        height: 30px;
        width: 60px;
        border-radius: 20px;
        border: 0;
        outline: 0;
        cursor: pointer;
        transition: background 0.5s;
    }
    
    .toggle-btn span {
        display: block;
        background-color: #999;
        height: 26px;
        width: 26px;
        border-radius: 50%;
        margin-left: 2px;
        transition: background 0.5s, margin-left 0.5s;
    }
    .lamp_container {
        position: absolute;
        top: -55px;
        left: 35%;
        width: 160px;
    }
    
    .lamp {
        width: 75%;
    }
    .light {
        position: absolute;
        top: 97%;
        left: 50%;
        transform: translateX(-50%);
        width: 498px;  
        margin-left: -28px;
        opacity: 0;
        transition: opacity 0.5s;
    }

    .on {
        opacity: 1;
    }

    .text_container a:hover {
        background-color: rgba(0, 152, 111, 0.5);
    }

    .text_container {
        max-width: 300px;
        margin-top: 24%;
        margin-left: 25%;
        user-select: none;
    }
    .text_container a {
        padding: 10px 20px;
        font-size: 14px;
    }

    .text_container h1 {
        font-size: 35px;
        font-weight: 400;
    }
    
    .control {
        margin: 70px auto;
    }
    .active {
        background-color: green;
    }
    .active span {
        background-color: #fff;
        margin-left: 31px;
    }
}


@media screen and (max-width: 480px) {
    .toggle-btn {
        background: #efefef;
        height: 30px;
        width: 60px;
        border-radius: 20px;
        border: 0;
        outline: 0;
        cursor: pointer;
        transition: background 0.5s;
    }
    
    .toggle-btn span {
        display: block;
        background-color: #999;
        height: 26px;
        width: 26px;
        border-radius: 50%;
        margin-left: 2px;
        transition: background 0.5s, margin-left 0.5s;
    }
    .lamp_container {
        position: absolute;
        top: -40px;
        left: 35%;
        width: 160px;
    }
    
    .lamp {
        width: 75%;
    }
    .light {
        position: absolute;
        top: 97%;
        left: 50%;
        transform: translateX(-50%);
        width: 498px;  
        margin-left: -28px;
        opacity: 0;
        transition: opacity 0.5s;
    }

    .on {
        opacity: 1;
    }

    .text_container a:hover {
        background-color: rgba(0, 152, 111, 0.5);
    }

    .text_container {
        max-width: 300px;
        margin-top: 28%;
        margin-left: 20%;
        user-select: none;
    }
    .text_container a {
        padding: 10px 20px;
        font-size: 14px;
    }

    .text_container h1 {
        font-size: 35px;
        font-weight: 400;
    }
    
    .control {
        margin: 70px auto;
    }
    .active {
        background-color: green;
    }
    .active span {
        background-color: #fff;
        margin-left: 31px;
    }
}
